# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment
.env

# Local files
files/
test.ipynb

serviceAccountKey.json
serviceAccountKey*.json
*firebase-adminsdk*.json
.env
.env.*
!.env.example
local_data/
*.json
*.pem
*.key
