fastapi
uvicorn[standard]
python-dotenv
pymongo
pydantic
passlib[bcrypt]
python-jose[cryptography]

numpy
opencv-python

langchain-core
langchain-community
langchain-text-splitters
langchain-groq
sentence-transformers
chromadb

pypdf